doctype html
html
    head
        title= title
        link(rel="stylesheet",href="/stylesheets/imageViewerPlus.css")
        script(type="text/javascript",src="/javascripts/jquery.min.js")
        script(type="text/javascript",src="/javascripts/imageViewerPlus.js")
        script(type="text/javascript").
            var album = [
                'http://1.pic.58control.cn/p1/big/n_s12206172412022101135.jpg',
                'http://3.pic.58control.cn/p1/big/n_s12206172417753643015.jpg',
                'http://4.pic.58control.cn/p1/big/n_s02206172417607967096.jpg',
                'http://1.pic.58control.cn/p1/big/n_s12206172429812886033.jpg',
                'http://1.pic.58control.cn/p1/big/n_s12206172437430618004.jpg',
                'http://4.pic.58control.cn/p1/big/n_s12206172443119176115.jpg',
                'http://3.pic.58control.cn/p1/big/n_s12206172450983052123.jpg',
                'http://4.pic.58control.cn/p1/big/n_s12206172458059219035.jpg',
                'http://4.pic.58control.cn/p1/big/n_s12206172463746567133.jpg',
                'http://4.pic.58control.cn/p1/big/n_s02206172471624240015.jpg',
                'http://1.pic.58control.cn/p1/big/n_s12206172412022101135.jpg',
                'http://3.pic.58control.cn/p1/big/n_s12206172417753643015.jpg',
                'http://4.pic.58control.cn/p1/big/n_s02206172417607967096.jpg',
                'http://1.pic.58control.cn/p1/big/n_s12206172429812886033.jpg',
                'http://1.pic.58control.cn/p1/big/n_s12206172437430618004.jpg',
                'http://4.pic.58control.cn/p1/big/n_s12206172443119176115.jpg',
                'http://3.pic.58control.cn/p1/big/n_s12206172450983052123.jpg',
                'http://4.pic.58control.cn/p1/big/n_s12206172458059219035.jpg',
                'http://4.pic.58control.cn/p1/big/n_s12206172463746567133.jpg',
                'http://4.pic.58control.cn/p1/big/n_s02206172471624240015.jpg'
            ];
            $(function () {
                window.ivr =  $('#iv1').imageViewer(album);
                //$('.iv').imageViewer(album);
                //$('#iv2').imageViewer(album);
            });
    body
        block content