body
{
    margin: 0;
}

.iv-wrapper
{
    position: fixed;

    display: block;

    width: 100%;
    height: 100%;
    padding: 0 30%;
}

.iv-mask
{
    position: absolute;
    z-index: 996;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: black;
    background: rgba(0, 0, 0, .4);

    filter: alpha(opacity=40);
}

.iv-drag-mask
{
    position: absolute;
    z-index: 998;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: black;
    background: rgba(0, 0, 0, .2);

    filter: alpha(opacity=20);
}

.iv-container
{
    position: relative;
    z-index: 999;

    margin: 0;
    padding: 43px 0 0;
}
.iv-container .iv-content
{
    position: relative;
    z-index: 999;

    margin: 0 40px;

    vertical-align: middle;

    background: url('../images/transp_bg.png');
}
.iv-container .iv-content img
{
    position: absolute;

    display: block;

    margin: 0;

    border: 0;
}
.iv-container .iv-content img.iv-image-enhanced
{
    cursor: move;
    -moz-user-select: none;
         user-select: none;

    -khtml-user-select: none;
}
.iv-container .iv-content img.iv-in-drag
{
    z-index: 1001;
}
.iv-container .iv-content img.iv-zoom-in
{
    max-width: none !important;
    max-height: none !important;
}
.iv-container .iv-indicator
{
    position: absolute;
    top: 43px;

    width: 40px;
    height: 500px;
    margin: 0;

    cursor: pointer;

    opacity: .3;

    filter: alpha(opacity=30);
}
.iv-container .iv-indicator.hover
{
    opacity: 1;

    filter: alpha(opacity=100);
}
.iv-container .iv-indicator.disabled
{
    display: none;
}
.iv-container .iv-indicator:after
{
    display: block;

    width: 40px;
    height: 40px;
    margin: 230px auto;

    content: ' ';
}
.iv-container .iv-indicator.prev
{
    left: 0;
}
.iv-container .iv-indicator.prev:after
{
    background: url('../images/prev.png') -15px -15px;
}
.iv-container .iv-indicator.next
{
    right: 0;
}
.iv-container .iv-indicator.next:after
{
    background: url('../images/next.png') -15px -15px;
}
.iv-container .iv-toolbar
{
    position: absolute;
    top: 0;

    width: 100%;
}
.iv-container .iv-toolbar .iv-toolbar-con
{
    width: 300px;
    margin: 0 auto;
}
.iv-container .iv-toolbar .iv-toolbar-con a
{
    font-size: 14px;

    display: inline-block;

    width: 40px;
    height: 40px;
    margin: 0 10px;

    text-decoration: none;

    color: #fff;
    background-image: url('../images/v.png');
}
.iv-container .iv-toolbar .iv-toolbar-con a.iv-rotate-left-btn
{
    background-position: 0 -40px;
}
.iv-container .iv-toolbar .iv-toolbar-con a.iv-rotate-left-btn:hover
{
    background-position: -43px -40px;
}
.iv-container .iv-toolbar .iv-toolbar-con a.iv-rotate-right-btn
{
    background-position: 0 0;
}
.iv-container .iv-toolbar .iv-toolbar-con a.iv-rotate-right-btn:hover
{
    background-position: -43px 0;
}
.iv-container .iv-toolbar .iv-toolbar-con a.iv-zoom-in-btn
{
    background-position: 0 -80px;
}
.iv-container .iv-toolbar .iv-toolbar-con a.iv-zoom-in-btn:hover
{
    background-position: -43px -80px;
}
.iv-container .iv-toolbar .iv-toolbar-con a.iv-zoom-out-btn
{
    background-position: 0 -120px;
}
.iv-container .iv-toolbar .iv-toolbar-con a.iv-zoom-out-btn:hover
{
    background-position: -43px -120px;
}
.iv-container .iv-toolbar .iv-toolbar-con a.iv-close-btn
{
    background-position: 0 -160px;
}
.iv-container .iv-toolbar .iv-toolbar-con a.iv-close-btn:hover
{
    background-position: -43px -160px;
}

.iv-navi
{
    position: relative;
    z-index: 997;

    padding: 0;

    background: #414246;
}
.iv-navi .iv-navi-wrapper
{
    overflow: hidden;

    margin: 0 40px;
    padding: 10px 0;
}
.iv-navi ul.iv-thumb-list
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}
.iv-navi ul.iv-thumb-list:after
{
    display: block;
    clear: both;
    overflow: hidden;

    height: 0;

    content: '';
}
.iv-navi ul.iv-thumb-list > li
{
    float: left;

    width: 100px;
    height: 80px;
    margin-right: 5px;

    cursor: pointer;

    border: 3px solid #414246;
    border-color: transparent;
    background-color: #313131;
}
.iv-navi ul.iv-thumb-list > li.hover
{
    border-color: #30819f;
    border-color: rgba(80, 215, 255, .6);
}
.iv-navi ul.iv-thumb-list > li.selected
{
    border-color: #50d7ff;
}
.iv-navi ul.iv-thumb-list > li.selected > img
{
    opacity: 1 !important;
}
.iv-navi ul.iv-thumb-list > li img
{
    display: block;

    max-width: 100px;
    max-height: 80px;
    margin: 0 auto;

    _width: 100px;
    _height: 80px;
}
.iv-navi .iv-thumb-indicator
{
    position: absolute;
    top: 0;

    width: 30px;
    height: 106px;
    margin: 0 5px;

    cursor: pointer;

    opacity: .3;

    filter: alpha(opacity=30);
}
.iv-navi .iv-thumb-indicator.hover
{
    opacity: 1;

    filter: alpha(opacity=100);
}
.iv-navi .iv-thumb-indicator.disabled
{
    display: none;
}
.iv-navi .iv-thumb-indicator:after
{
    display: block;

    width: 19px;
    height: 23px;
    margin: 41.5px auto;

    content: ' ';
}
.iv-navi .iv-thumb-indicator.prev
{
    left: 0;
}
.iv-navi .iv-thumb-indicator.prev:after
{
    background: url('../images/tab.png') 0 -24px;
}
.iv-navi .iv-thumb-indicator.next
{
    right: 0;
}
.iv-navi .iv-thumb-indicator.next:after
{
    background: url('../images/tab.png') 0 -48px;
}
