$thumbHeight: 80px;
$thumbWidth: 100px;
$naviWrapperPadding: 10px;
$thumbIndicatorWidth: 30px;
$thumbIndicatorMargin: 5px;
$thumbIndicatorHeight: $thumbHeight + $naviWrapperPadding * 2;
$paddingTop: 43px;
$margin: $thumbIndicatorWidth + $thumbIndicatorMargin * 2;
$thumbListMargin: 5px;
$thumbIndicatorIconTop: ($thumbIndicatorHeight - 23px) / 2;
$toobarWidth: 300px;
@mixin iv-btn($selector, $positionY) {
    &#{$selector}
    {
        background-position: 0 $positionY;
        &:hover
        {
            background-position: -43px $positionY;
        }
    }
}

.iv-container 
{
    margin: 0;
    padding: $paddingTop 0 0;
    position: relative;
    .iv-content
    {
        position: relative;
        margin: 0 $margin;
        vertical-align: middle;
        background: url("../images/transp_bg.png");
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            display: block;
            margin: 0;
            border: 0;
        }
        img.iv-image 
        {
            
        }
        img.iv-image-enhanced 
        {
            -moz-user-select:none;
            -khtml-user-select:none;
            user-select:none;
        }
    }
    .iv-toolbar
    {
        position: absolute;
        top: 0;
        width: 100%;
        .iv-toolbar-con
        {
            width: $toobarWidth;
            margin: 0 auto;
            a 
            {
                text-decoration: none;
                font-size: 14px;
                color:#fff;
                width:40px;
                height:40px;
                display: inline-block;
                margin:0 10px;
                background-image: url("../images/v.png");
                @include iv-btn(".iv-rotate-left-btn", -40px);
                @include iv-btn(".iv-rotate-right-btn", 0);
                @include iv-btn(".iv-zoom-in-btn", -80px);
                @include iv-btn(".iv-zoom-out-btn", -120px);
                @include iv-btn(".iv-close-btn", -160px);
            }
        }
        
    }
}

.iv-navi
{
    position: relative;
    padding: 0;
    background: #414246;
    .iv-navi-wrapper
    {
        overflow: hidden;
        margin: 0 $margin;
        padding: $naviWrapperPadding 0;
    }
    ul.iv-thumb-list
    {
        margin: 0;
        padding: 0;
        list-style-type: none;
        &:after
        {
            display: block;
            clear: both;
            overflow: hidden;
            height: 0;
            content: '';
        }

        & > li
        {
            float: left;
            width: $thumbWidth;
            height: $thumbHeight;
            border: 3px solid #414246;
            border-color: transparent;
            margin-right: $thumbListMargin;
            cursor: pointer;
            background-color: #313131;
            &.hover
            {
                border-color: rgba(80,215,255,0.6);
            }
            &.selected
            {
                border-color: rgb(80,215,255);
                & > img
                {
                    opacity: 1!important;
                }
            }
            img
            {
                display: block;
                margin: 0 auto;
                max-width: $thumbWidth;
                max-height: $thumbHeight;
                _width: $thumbWidth;
                _height: $thumbHeight;
            }
        }
    }

    .iv-thumb-indicator
    {
        position: absolute;
        top: 0;
        width: $thumbIndicatorWidth;
        height: $thumbIndicatorHeight;
        margin: 0 $thumbIndicatorMargin;
        cursor: pointer;
        opacity: 0.3;
        &.hover {
            opacity: 1;
        }
        &.disabled {
            display: none;
        }
        &:after
        {
            content: ' ';
            width: 19px;
            height: 23px;
            display: block;
            margin: $thumbIndicatorIconTop auto;
        }
        &.prev
        {
            left: 0;
            &:after
            {
                background: url('../images/tab.png') 0 -24px;
            }
        }
        &.next
        {
            right: 0;
            &:after
            {
                background: url('../images/tab.png') 0 -48px;
            }
        }
    }

}